body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333; /* Cor do texto principal */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave para mudanças de cor */
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease; /* Transição suave para mudanças de cor */
}

h1 {
    text-align: center;
}

#task-input {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
}

.task {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.task .checkbox {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
}

.task .task-text {
    flex: 1;
}

.task.completed .task-text {
    text-decoration: line-through;
    color: #888; /* Cor do texto para tarefas concluídas no modo claro */
}

/* Estilos para o botão de alternância (toggle button) */
.toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 30px;
    background-color: #ddd;
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;
}

.toggle input[type="checkbox"] {
    display: none;
}

.toggle label {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.toggle input[type="checkbox"]:checked + label {
    transform: translateX(30px);
    background-color: #45a049; /* Cor de fundo do botão de alternância no modo escuro */
}

/* Estilos para o modo escuro */
.dark-mode {
    background-color: #111; /* Cor de fundo escura */
    color: #eee; /* Cor do texto branca */
}

.dark-mode .container {
    background-color: #222; /* Cor de fundo do contêiner escuro */
}

.dark-mode #task-input {
    background-color: #444; /* Cor de fundo do campo de entrada escuro */
    color: #eee; /* Cor do texto do campo de entrada branca */
    border-color: #888; /* Cor da borda do campo de entrada escura */
}

.dark-mode .task.completed .task-text {
    color: #ffffff; /* Cor do texto para tarefas concluídas no modo escuro */
}

.dark-mode button {
    background-color: #45a049; /* Cor de fundo dos botões no modo escuro */
}

.dark-mode button:hover {
    background-color: #347d38; /* Cor de fundo dos botões ao passar o mouse no modo escuro */
}
